
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sans Regular";
    src: url(./assets/fonts/SourceSansPro-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Sans Semi Bold";
    src: url(./assets/fonts/SourceSansPro-SemiBold.ttf) format("ttf");
  }
  @font-face {
    font-family: "Sans Bold";
    src: url(./assets/fonts/SourceSansPro-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: "Sans Black";
    src: url(./assets/fonts/SourceSansPro-Black.ttf) format("ttf");
  }
}

.text-white.font-sansblack {
  font-family: "Sans Black";
}

.text-white {
  font-family: "Sans Regular";
}